Dic

In [1]:
score = {}

In [3]:
scores = dict()

In [4]:
scores = {'kor':85, 'eng' : 100, 'math' : 100}
scores

{'kor': 85, 'eng': 100, 'math': 100}

In [38]:
len(scores)

3

In [39]:
max(scores)

'math'

In [40]:
scores['kor']

85

In [10]:
scores['kor'] = 0

In [11]:
scores

{'kor': 0, 'eng': 100, 'math': 100}

In [12]:
scores['test'] = 100
scores

{'kor': 0, 'eng': 100, 'math': 100, 'test': 100}

In [13]:
scores['test'] = {} #delete 2번째는 안됌
scores

{'kor': 0, 'eng': 100, 'math': 100, 'test': {}}

In [14]:
del scores['test'] #del 함수로는 삭제가 가능
scores

{'kor': 0, 'eng': 100, 'math': 100}

In [21]:
scores = {'kor':85, 'eng' : 100, 'math' : 100}

for i, key in enumerate(scores):
    print(i, key, scores.get(key))

0 kor 85
1 eng 100
2 math 100

In [22]:
scores['kor'] #scores_get('kor')

85

In [23]:
for k,v in scores.items():
    print(k,v)

kor 85
eng 100
math 100

In [24]:
li = ['1', 'abc', 30, 40, 50]
for i, k in enumerate(li):
    print(i, k)

0 1
1 abc
2 30
3 40
4 50

In [26]:
scores = {'김예찬' : 90, '박영찬' : 95, '김소희' : 84}

addon = 0
cunt  = 0

for k,v in scores.items():
    addon += v
    cunt += 1

aver = addon / cunt
print("합계는 : %d" %addon)
print("평균은 : %.2f" %aver)

합계는 : 269
평균은 : 89.67

In [37]:
cor = {'id' : 'admin', 'pw' : '11111'}
user = {'id' : 0, 'pw' : 0 }
while True:
    user['id'] = input("아이디를 입력하세요 : ")
    user['pw'] = input("비밀번호를 입력하세요 : ")
    if cor['id'] == user['id'] and cor['pw'] == user['pw'] :
        print("모든 정보에 접근 가능합니다!")
        break
    else : 
        print("정보에 접근 권한이 없습니다!")

아이디를 입력하세요 :  admin
비밀번호를 입력하세요 :  11111

모든 정보에 접근 가능합니다!

아이디를 입력하세요 :  admin
비밀번호를 입력하세요 :  22

정보에 접근 권한이 없습니다!

KeyboardInterrupt: Interrupted by user

In [ ]:
scores = {'kor':85, 'eng' : 100, 'math' : 100}
scores.keys()

In [ ]:
scores = {'kor':85, 'eng' : 100, 'math' : 100}
scores.values()

In [ ]:
#key이 있는지 확인하기
'kor' in scores

In [ ]:
type(scores.get('k'))

연습문제

In [45]:
#Q1
shop = {'kim99': 12000, 'lee66' : 11000, 'han55' : 3000, 'hong77' : 5000, 'hwang33' : 18000}
for i, k in enumerate(shop):
        print(i+1,". 아이디 : ",k,  ", 마일리지 : " ,shop.get(k))

1 . 아이디 :  kim99 , 마일리지 :  12000
2 . 아이디 :  lee66 , 마일리지 :  11000
3 . 아이디 :  han55 , 마일리지 :  3000
4 . 아이디 :  hong77 , 마일리지 :  5000
5 . 아이디 :  hwang33 , 마일리지 :  18000

In [47]:
#Q2
shop['han55'] = 5000
print("han55님의 마일리지가", shop['han55'],"점으로 수정되었습니다")

han55님의 마일리지가 5000 점으로 수정되었습니다

In [50]:
#Q3
shop['jang88'] = 7000

for i, k in enumerate(shop):
        print(i+1,". 아이디 : ",k,  ", 마일리지 : " ,shop.get(k))

print("jang88님의 마일리지",shop['jang88'],"점이 추가되었습니다")

1 . 아이디 :  kim99 , 마일리지 :  12000
2 . 아이디 :  lee66 , 마일리지 :  11000
3 . 아이디 :  han55 , 마일리지 :  5000
4 . 아이디 :  hong77 , 마일리지 :  5000
5 . 아이디 :  hwang33 , 마일리지 :  18000
6 . 아이디 :  jang88 , 마일리지 :  7000
jang88님의 마일리지 7000 점이 추가되었습니다

In [63]:
#Q4
"""
a = shop.values()
max(a)

"""
name = 0
high=0
for k, v in shop.items():
    if high < v:
        high = v
        name = k
print("%s님이 제일 높은 마일리지 %d을 가지고 있습니다" %(name, high))

hwang33님이 제일 높은 마일리지 18000을 가지고 있습니다

In [87]:
# Q5
week = {}
while True : 
    week[input("요일 : ")] = [input("온도 : ")]
    if (len(week) == 7):
        print('-'*30)
        for key in week:
            print(key, end=" ")
        print()
        print('-'*30)
        for key in week:
            print(week[key], end=" ")
        print()
        print('-'*30)
        break

온도 :  25.5
요일 :  월
온도 :  28.3
요일 :  화
온도 :  33.2
요일 :  수
온도 :  32.1
요일 :  목
온도 :  17.3
요일 :  금
온도 :  35.3
요일 :  토
온도 :  33.3
요일 :  일

------------------------------
월 화 수 목 금 토 일
------------------------------
['25.5'] ['28.3'] ['33.2'] ['32.1'] ['17.3'] ['35.3'] ['33.3']
------------------------------

In [88]:
print(week)

{'월': ['25.5'], '화': ['28.3'], '수': ['33.2'], '목': ['32.1'], '금': ['17.3'], '토': ['35.3'], '일': ['33.3']}

In [73]:
print()
print('-'*30)

------------------------------

함수

In [76]:
def hello():
    print("안녕하세요")
    
hello()
hello()
hello()

안녕하세요
안녕하세요
안녕하세요

In [79]:
type(hello)

function

In [80]:
type(print)

builtin_function_or_method

In [81]:
def world():
    print("헬로 월..드")

In [82]:
world()

헬로 월..드

In [85]:
def hello(a,b,c):
    print(a,b,c)

1 11 1.0

In [86]:
hello([1,2,3], {"key" :  "value"}, (2,3,4,5))

[1, 2, 3] {'key': 'value'} (2, 3, 4, 5)

In [93]:
#짝수 홀수 나누는 함수 만들기
def even_odd(num) : 
    if num % 2 == 0:
        print("%d는 짝수" %num)
    elif num % 2 !=0:
        print("%d는 홀수" %num)
    else : 
        print(num,"은 숫자가 아닙니다")

In [94]:
even_odd(7)
even_odd(6)

7는 홀수
6는 짝수

In [3]:
def average(*scores) : 
    addon = 0
    for x in range (len(scores)):
        addon += scores[x]
        
    aver = addon / len(scores)
    print("%d 과목의 합은 %d 이며 평균은 %.f입니다" %(len(scores), addon, aver))

average(80,70,20)
average(90,80,70,50,70,98)
average(98,87,54,87,21,87,90)

3 과목의 합은 170 이며 평균은 57입니다
6 과목의 합은 458 이며 평균은 76입니다
7 과목의 합은 524 이며 평균은 75입니다

In [4]:
#입력값이 없을 땐? return
def average(*scores) : 
    if len(scores) <= 0:
        return
    addon = 0
    for x in range (len(scores)):
        addon += scores[x]
        
    aver = addon / len(scores)
    print("%d 과목의 합은 %d 이며 평균은 %.f입니다" %(len(scores), addon, aver))

In [5]:
average()

In [8]:
def hello(*args) :
    print(args)

In [9]:
hello(3,5,6)

(3, 5, 6)

In [10]:
hello([1,4,7], [2,7,0])

([1, 4, 7], [2, 7, 0])

In [24]:
def func(x):
    x = 100
    print('func() : x= ', x, ', id = ',id(x))

In [25]:
x = 10
print('메인 : x = ',x, ',id = ', id(x) )

메인 : x =  10 ,id =  140713475123264

In [26]:
func(x)

func() : x=  100 , id =  140713475126144

In [28]:

def func(x):
    x[0] = 100
    print('func() : x= ', x, ', id = ',id(x))

In [31]:
x = [1,2,3]
print('메인 : x = ',x, ',id = ', id(x) )

메인 : x =  [1, 2, 3] ,id =  1425603016512

In [32]:
func(x)
print('메인 : x = ',x, ',id = ', id(x) )

func() : x=  [100, 2, 3] , id =  1425603016512
메인 : x =  [100, 2, 3] ,id =  1425603016512

In [36]:
def circle(r):
    area = r*r*3.141592
    return area

r_a = int(input("원의 반지름은 : "))
print("반지름 %d인 원의 넓이는 %.2f 이다" %(r_a, circle(r_a)))

r_b = int(input("원의 반지름은 : "))
print("반지름 %d인 원의 넓이는 %.2f" %(r_b, circle(r_b)))

원의 반지름은 :  4

반지름 4인 원의 넓이는 50.27 이다

원의 반지름은 :  5

반지름 5인 원의 넓이는 78.54

In [43]:
#Q7-1
def addon(start, end):
    retnum = 0
    for i in range (start, end +1):
        retnum += i
    print("정수 합계  : %d" %retnum)

In [45]:
addon(10, 100)

정수 합계  : 5005

In [46]:
addon(100, 1000)

정수 합계  : 495550

In [48]:
addon(1000, 10000)

정수 합계  : 49505500

In [85]:
#Q7-2
#시작 수 입력, 끝 수 입력, 합계를 구할 배수 입력, 시작수 ~ 끝수 의 정수 중 x배수의 합 : 결과

def othersum(*args):
    startnum = int(input("시작 수 : "))
    endnum = int(input("끝 수 : "))
    width = int(input("배수 : "))
    result = 0
    for x in range(startnum, endnum +1):
        if x % width == 0:
            result += x
        
    print("%d부터 %d의 정수 중 %d 배수의 합은 %d이다" %(startnum, endnum, width, result))

In [86]:
othersum(3)

시작 수 :  2
끝 수 :  30
배수 :  5

2부터 30의 정수 중 5 배수의 합은 105이다

In [66]:
def func(x):
    x = 0
    print(id(x))
    if 10> 1:
        x = 100
        print(id(x))

In [67]:
func(1)

140713475122944
140713475126144

In [68]:
x = 10
print(x)
print(id(x))

10
140713475123264

In [69]:
func(x)

140713475122944
140713475126144

In [80]:
def func():
    global x
    x = 100
    print(x)
    print(id(x))

In [81]:
x= 10
print(x)
print(id(x))

10
140713475123264

In [82]:
func()

100
140713475126144

In [83]:
print(x)

100

In [84]:
print(id(x))

140713475126144