In [ ]:
x = 10
x

In [ ]:
a = '호'
a

In [4]:
a + str(10)

'호10'

In [ ]:
name = '홍길동'

In [8]:
name = '홍길동'
print("내 이름은 %s 입니다" %name)

내 이름은 홍길동 입니다

In [10]:
name = '둘리'
code = '호이'

print("내 이름은 %s 입니다. 번호는 %s 입니다" %(name, code))

내 이름은 둘리 입니다. 번호는 호이 입니다

In [14]:
name = '둘리'
code = '호이'
addr = '서울'
print("내이름은 {0}, {2}에 살지. {1}는 나의 번호다".format(name, code, addr))

내이름은 둘리, 서울에 살지. 호이는 나의 번호다

In [22]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print("Jack : {Jack:d}, Sjoerd : {Sjoerd:d}, Dcab :{Dcab:d}".format(**table))

Jack : 4098, Sjoerd : 4127, Dcab :8637678

In [24]:
" abc suppermarket ".rstrip()

' abc suppermarket'

In [25]:
"abc kkkefttft".replace('kk', 'ss')

'abc sskefttft'

In [36]:
print("010","1111","2222", sep=("-"))

010-1111-2222

In [1]:
print("안녕")
print("반가워")
print("아직 화요일", end="\n\n\n")
print("망")

안녕
반가워
아직 화요일


망

In [3]:
a=(input("숫자를 입력하세요"))
b=(input("숫자를 입력하세요"))

숫자를 입력하세요3
숫자를 입력하세요6

In [5]:
c = int(a)+int(b)
c

9

In [1]:
inch = float(input("인치를 입력하세요"))
cm = inch * 2.54
print("%.2f센티미터"%cm)

인치를 입력하세요3
7.62센티미터

In [6]:
name = input("학생의 이름을 입력하세요")
kor = int(input("국어 점수 : "))
eng = int(input("영어 점수 : "))
math = int(input("수학 점수 : "))
total = kor + eng + math
average = float(total/3)
print("이름 : %s, 국어 : %d, 영어 : %d, 수학 : %d, 합계 : %d, 평균 %.2f"%(name, kor, eng, math, total, average))

학생의 이름을 입력하세요태현
국어 점수 : 90
영어 점수 : 59
수학 점수 : 86
이름 : 태현, 국어 : 90, 영어 : 59, 수학 : 86, 합계 : 235, 평균 78.33

In [ ]:
# 한 줄 주석 땡
# 여러 줄 주석 하기 docstring
"""
줄바꿈 까지도 주석으로 한다
독 스트링 문자열이다 
"""

In [11]:
mystr = """
독 스트링 이용하기
주석으로 쓰거나 사용할 수 있다.
.__doc__ 메소드로 이용도 가능
"""
print(mystr)

독 스트링 이용하기

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [13]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."