In [13]:
import sqlite3

con = sqlite3.connect('testdb2')
cur = con.cursor()

In [5]:
type(cur)

sqlite3.Cursor

In [7]:
cur

In [16]:
cur.execute("CREATE TABLE usertable\
   (id char(4), username char(15), email char(15), birthyear int)")

In [17]:
cur.execute("insert into usertable\
   values('aaa', 'james goh', 'aaa@aaaa.com', 2000);")
cur.execute("insert into usertable\
   values('bbb', 'bbbb goh', 'bbb@bbbb.com', 2001);")

In [18]:
cur.execute('select * from usertable')

In [19]:
while(True):
    row = cur.fetchone()
    if row == None:
        break
    
    print(f'{row[0]}, {row[1]}, {row[2]},{row[3]}')
con.close()

aaa, james goh, aaa@aaaa.com,2000
bbb, bbbb goh, bbb@bbbb.com,2001